/* src/assets/main.css */
@import "tailwindcss";

@theme {
  --animate-scroll-left: scroll-left 40s linear infinite;

  @keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}